{% extends "base.html" %}

{% block title %}
Soccer Jersey Store - Home
{% endblock %}

{% block body %}
<!-- Main Store Body -->
  <div aria-hidden="true">
    <div>
      <div>
        <div>
          <h5 class="modal-title" id="exampleModalLongTitle">Checkout</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <div>
          <div id="shoppingCart">
            <div class="container">
              <div class="row">
                <div class="col-sm">
                  <table class="table table-sm" border=0>
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Item</th>
                        <th scope="col">Team</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Unit Price</th>
                        <th scope="col">Sub-Total</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                    <!-- For Each shirt -->
                    {% if shopLen != 0 %}
                    {% for i in range(shopLen) %}
					
                      <tr>
                        <th scope="row">{{ i + 1 }}</th>
                        <td><img src="/static/img/{{ shoppingCart[i]["image"] }}" width="30px" alt="{{ shoppingCart[i]["team"] }}" /></td>
                        <td>{{ shoppingCart[i]["team"] }}</td>
                        <td><!--<form action="/update/">
                            <input type="hidden" name="id" value="{{shoppingCart[i]["id"]}}" />-->
                            {{ shoppingCart[i]['SUM(qty)'] }}   <!--<input type="number" name="quantity" min="1" max="10" size="5" value="{{ shoppingCart[i]['SUM(qty)'] }}">-->
                            <!--<button type="submit" class="btn btn-warning checkout">Update</button>-->
                          </form></td>
                        <td>{{ '${:,.2f}'.format(shoppingCart[i]["price"]) }}</td>
                        <td>{{ '${:,.2f}'.format(shoppingCart[i]['SUM(subTotal)']) }}</td>
                        <td>
                          <!--<form action="/remove/" methods="GET">
                            <input type="hidden" name="id" value="{{ shoppingCart[i]["id"] }}" />
                            <button type="submit" class="btn btn-secondary btn-sm" id="removeFromCart">移除</button>-->
                          </form>
                        </td>
                      </tr>
                    </tbody>
                    {% endfor %}
                    <tfoot>
                      <tr>
                        <td colSpan="7">Total: {{ '${:,.2f}'.format(total) }}<br />
						收貨地址: _ {{ addr }} _<br /><br />
                          <div class="modal-footer">
                      <tr colSpan="8">
						  <td colSpan="8"><h3>
						  自行ATM轉帳:帳號:7000-123145689101234<br />
						  聯絡方式:<br />
						  電子信箱:<br />
						  LINE ID:<br />
						</h3></td>  
                        <td> 
							
							<form   target="_blank" action=' {{ ecp_FormData["ecurl"] }}' method="POST">
                            <input type="hidden" name="CheckMacValue" value='{{ ecp_FormData["CheckMacValue"] }}'>
                               <input type="hidden" name="ChoosePayment" value='{{ ecp_FormData["ChoosePayment"] }}'>
                            <input type="hidden" name="EncryptType" value='{{ ecp_FormData["EncryptType"] }}'>
                            <input type="hidden" name="ItemName" value='{{ ecp_FormData["ItemName"] }}'>
                            <input type="hidden" name="MerchantID" value='{{ ecp_FormData["MerchantID"] }}'>
                            <input type="hidden" name="MerchantTradeDate" value='{{ ecp_FormData["MerchantTradeDate"] }}'>
                            <input type="hidden" name="MerchantTradeNo" value='{{ ecp_FormData["MerchantTradeNo"] }}'>
                            <input type="hidden" name="PaymentInfoURL" value='{{ ecp_FormData["PaymentInfoURL"] }}'>
                            <input type="hidden" name="PaymentType" value='{{ ecp_FormData["PaymentType"] }}'>
                            <input type="hidden" name="ReturnURL" value='{{ ecp_FormData["ReturnURL"] }}'>
                            <input type="hidden" name="TotalAmount" value='{{ ecp_FormData["TotalAmount"] }}'>
                            <input type="hidden" name="TradeDesc" value='{{ ecp_FormData["TradeDesc"] }}'>
							
							<button type="submit" class="btn btn-success checkout">決定-刷卡</button></a><br/><br/>
							</form>
                            <a href="/"><button type="button" class="btn btn-primary checkout">再逛逛</button></a><br />
                          </div>
						  
                        </td>
                      </tr>
                    </tfoot>
                    {% else %}
                      <tr>
                        <td colSpan="7"><h3>Your cart is empty :\</h3></td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <td colSpan="7">Get some shirts now!<br />
                          <div>
                            <a href="/"><button type="button" class="btn btn-secondary" data-dismiss="modal">再逛逛</button></a>
                          </div>
                        </td>
                      </tr>
                    </tfoot>
                    {% endif %}
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    </div>
  </main>

{% endblock %}
